<% layout('layout/boilerplate') %>
<div class="container mt-3">
    <div class="col-6 offset-3 ">
        <form action="/home/<%=foundBlog._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <label class="form-label" for="title">Title of Blog</label>
            <input class="form-control" type="text" name="title" id="title" required value="<%=foundBlog.title%>">
            <label class="form-label" for="image">Image Link</label>
            <input class="form-control" type="file" name="image" id="title" required value="<%=foundBlog.image.filename%>">
            <label class="form-label" for="title">Enter Blog Content</label>
            <textarea class="form-control" name="content" id="content" cols="30"
                rows="10" required><%=foundBlog.content%></textarea>
            <div class="col6 offset-5 mt-3">
                <button class="btn btn-success">Upload</button>
                <a class="btn btn-warning" href="/home/<%=foundBlog._id%>">Cancel</a>
            </div>
        </form>
        
    </div>

</div>